@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Grayish-Blue: hsl(246, 25%, 77%);
    --Dark-blue: hsl(249, 10%, 26%);
}

html {
    font-family: Poppins;
}

body {
    background-image: url(./images/bg-intro-desktop.png);
    background-color: var(--Red);

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

padding-left: 3rem;
padding-right: 3rem;
}

/*About section*/

.about {
   max-width: 31rem;
   min-width: 28rem;
   color: white;
   margin-right: 4rem;
   
}

.about h1 {
    font-size: 3rem;
    line-height: 3rem;
}

.about p {
    font-size: 1rem;
}


/*banner section*/

.banner {
    color: white;
    background-color: var(--Blue);
    border-radius: 5px;
    max-width: 32rem;
    min-width: 28rem;
    font-size: 0.75rem;
    padding: 1rem 4rem;
    box-shadow: 0px 5px 2px 1px rgba(0, 0, 0, 0.2) ;
    margin-bottom: 1rem;
    text-align: center;
    
    
}

.banner span {
    font-weight: 400;
}


/*form section*/

form {
    max-width: 32rem;
    min-width: 28rem;
    background-color: white;
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 2px 1px rgba(0, 0, 0, 0.2) ;
}

.inputBox {
    width: 100%;
}


/*input normal*/

input {
    width: 100%;
    padding: 0.75rem 0.5rem;
    font-family: Poppins;
    font-weight: 550;
    border-radius: 5px;
    border: 1px solid var(--Grayish-Blue);
    
   

}

input:focus {
    outline: 1px solid var(--Dark-blue)
}

.inputBox p {
    float: right;
    color: var(--Red);
    font-size: 0.75rem;
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
    font-style: italic;
    display: none;
}

.inputBox {
    margin-bottom: 1.5rem;
}

/*input error state*/

input.error {
    border: 1px solid var(--Red);
    background-image: url(./images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: right 5px center;
}

input.error:focus {
    outline: 1px solid var(--Red);
}

.inputBox.error {
    margin-bottom: 0;
}

.inputBox.error p {
    display: block;
}


/*button*/

button {
    all: unset;
    width: 100%;
    text-align: center;
    background-color: var(--Green);
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    font-weight: 550;
    box-shadow: 0px 5px 2px 1px rgba(0, 0, 0, 0.2) ;
    margin-bottom: 1rem;
    transition: box-shadow 300ms ease;
    
    
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 5px 2px 1px rgba(0, 0, 0, 0.293) ;
}

button:active {
    scale: 0.99;
}

button:focus {
    box-shadow: 0px 5px 2px 1px rgba(0, 0, 0, 0.293) ;
}



/*footer*/

form p {
    font-size: 0.75rem;
    text-align: center;
}

form a {
    text-decoration: none;
    font-weight: 550;
    color: var(--Red);
}




/*For screen size under 1000px*/

@media screen and (max-width: 1000px){
    
    body {
        flex-direction: column;
        text-align: center;
        padding: 1.5rem 1rem;
        background-image: url(./images/bg-intro-mobile.png);
    }

    form {
        margin-bottom: 1.5rem;
    }

    form a {
        display: block;
    }

    .about {
        margin-top: 1.5rem;
    }

    .about {
        margin-right: 0;
        margin-bottom: 3rem;    
    }

    .about,.banner,form {
        min-width: 22rem;
    }
    
}

/*For screen size under 550px*/

@media screen and (max-width:450px) {
    .banner span {
        display: block;
    }
}